<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <link href="../css/index.css" rel="stylesheet">
  <title>new_user_welcome_tutorial</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>

        <v-toolbar short color="light-blue darken-1 white--text">
          <v-toolbar-title>UltraHome</v-toolbar-title>
          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" scrollable max-width="400px">
              <template v-slot:activator="{ on }">
                <v-btn class="white--text" v-on="on" text>SETTINGS</v-btn>
              </template>
              <v-card>
                  <v-card-title>Settings</v-card-title>
                  <v-divider></v-divider>
                  <v-row>
                      <v-col cols="9">
                          <p>Setting 1</p>
                      </v-col>
                      <v-col cols="3">
                          
                      </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-card-actions>
                      <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                      <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
                  </v-card-actions>
              </v-card>
          </v-dialog>

          <v-btn class="ma-2" outlined color="white">LOG OUT</v-btn>
        </v-toolbar>

        <v-container>
          <v-row class="my-5">
            <v-col align="center">
              <p class="display-3">Welcome to UltraHome, Juan!</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col align="center">
              <template>
                <v-stepper :value=currentStep>
                  <v-stepper-header>
                    <v-stepper-step step="1">Step 1: create a new home</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="2">Step 2: Create a new room</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="3">Step 3: add your first device</v-stepper-step>
                  </v-stepper-header>
                </v-stepper>
              </template>
            </v-col>
          </v-row>
        </v-container>

        <v-container class="mb-12 pt-0">
          <v-row>
            <v-col cols="4" align="center">
              <v-text-field
                v-show="currentStep === 1"
                id="newHomeName"
                v-model="homeName"
                label="Name of the new home"
                :rules="[rules.required, rules.counter]"
                counter
                maxlength="25"
              ></v-text-field>
              <v-btn class="my-0" v-bind:disabled="homeName === ''" color="light-blue darken-1 white--text" @click="currentStep++" v-show="currentStep === 1">Add home</v-btn>

              <v-card color="light-blue darken-1" v-show="currentStep !== 1">
                <v-icon class="my-2" large>mdi-check</v-icon>
              </v-card>
              <v-card v-show="currentStep !== 1" align="center">
                <v-card-title class="justify-center">{{homeName}} added!</v-card-title>
              </v-card>
            </v-col>

            <v-col cols="4" align="center">
              <v-text-field
                v-show="currentStep === 2"
                v-model="roomName"
                label="Name of the new room"
                :rules="[rules.required, rules.counter]"
                counter
                maxlength="25"
              ></v-text-field>
                <v-btn class="my-0" outlined color="light-blue darken-1" v-show="currentStep === 2" @click="currentStep--">Go back</v-btn>
                <v-btn class="my-0" v-bind:disabled="roomName === ''" color="light-blue darken-1 white--text" @click="currentStep++" v-show="currentStep === 2">Add room</v-btn>
              <v-card color="light-blue darken-1" v-show="currentStep === 3 || currentStep === 4">
                <v-icon class="my-2" large>mdi-check</v-icon>
              </v-card>
              <v-card v-show="currentStep === 3 || currentStep === 4">
                <v-card-title class="justify-center">{{roomName}} added!</v-card-title>
              </v-card>
            </v-col>

            <v-col cols="4" align="center">
                <v-select
                v-show="currentStep === 3"
                :items="items"
                label="Devices found ready to connect"
                dense
                v-on:change="selectedDevice"
              ></v-select>
              
              <v-text-field
                v-show="currentStep === 3"
                v-model="deviceName"
                label="Device name"
                :rules="[rules.required, rules.counter]"
                counter
                maxlength="30"
              ></v-text-field>
                <v-btn class="my-0" outlined color="light-blue darken-1" @click="currentStep--" v-show="currentStep === 3">Go back</v-btn>
                <v-btn class="my-0" v-bind:disabled="deviceName === ''" color="light-blue darken-1 white--text" @click="finishSteps" v-show="currentStep === 3">Add device</v-btn>
              <v-card color="light-blue darken-1" v-show="currentStep === 4">
                <v-icon class="my-2" large>mdi-check</v-icon>
              </v-card>
              <v-card v-show="currentStep === 4">
                <v-card-title class="justify-center">{{deviceName}} added!</v-card-title>
              </v-card>
            </v-col>
          </v-row>

          <!-- only used for making some white space at the bottom before first step is completed -->
          <!-- todo: NO SE CUANDO PONERLO (tipo si al principio/final/siempre) -->
          <v-row class="my-12" v-show="true"></v-row>

          <!-- only shown when all 3 steps have been completed -->
          <v-row align="center" v-show="currentStep === 4">      
            <v-col align="center" cols="12">
              All set up! Now you can start controlling your devices.
            </v-col>
            <v-col align="center" cols="12">
              <v-btn color="light-blue darken-1 white--text">
                Start
              </v-btn>
            </v-col>
          </v-row>
        </v-container>

        <v-footer color="light-blue darken-1 white--text">
          <v-container>
            <v-row>
              <v-col cols="2">
                <p>CONTACT US</p>
                <p>
                  info@NOMBREAPP.com
                  <br>
                  +54 9 11-5043-5985
                </p>
              </v-col>

              <v-col cols="2">
                <p>CAREERS</p>
                <p>
                  Come join us!
                  <br>
                  <a href="careers.html">Careers site</a>
                </p>
              </v-col>

              <v-col cols="8"></v-col>
            </v-row>
          </v-container>
        </v-footer>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- NO ENTIENDO MUY BIEN, PERO HAY COSAS QUE DEBEN INCLUIRSE ANTES QUE OTRAS -->
  <script src="../js/api.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/room.js"></script>
  <script src="../js/dbAccesser.js"></script>
  <script src="../js/newUserWelcomeTutorial.js"></script>

</body>
</html>